{% extends "base.html"  %}
{% block title %}Projets{% endblock %}
{% block h1 %}Projets{% endblock %}

{% block content %}
	<p id="tri">Tri: 
		{% if sort == "a" %}<strong title="Tri par ordre alphabétique">a..z</strong>{% else %}<a href="a" title="Trier par ordre alphabétique">a..z</a>{% endif  %} | 
	       	{% if sort == "z" %}<strong title="Tri par ordre alphabétique inverse">z..a</strong>{% else %}<a href="z" title="Trier par ordre alphabétique inverse">z..a</a>{% endif %} | 
	       	{% if sort == "b" %}<strong title="Tri par activité">Activité</strong>{% else %}<a href="." title="Tri par activité dans le projet">Activité</a>{% endif %}
	</p>
	<ul class="projects">
	{% for item in projects%}
		<li>
			<div class="name">
				<h2><a href="{{ item.href }}/" title="Projet {{ item.name }}">{{ item.name }}</a></h2>
				<p>{{ item.description  }}</p>
				<ul class="extra">
				{% if item.demo.enable %}
					<li class="demo"><a href="{{ item.demo.href }}/">Demo</a></li>
				{% endif %}
				{% if item.tarball.enable %}
					<li class="archive"><a href="{{ item.tarball.href }}/">Tarballs</a></li>
				{% endif %}
			        </ul>
			</div>
			<div class="details">
				<p>Dernière révision par <strong>{{ item.activity.lastauthor }}</strong> il y a {{ item.activity.lastdate }} 
				[<a href="{{ item.href }}/changeset/{{ item.activity.lastrev }}">{{ item.activity.lastrev }}</a>].</p>
				<blockquote><p>{{ item.activity.lastmessage }}</p></blockquote>
			</div>
			<div class="clear"></div>
		</li>
	{% endfor %}
	</ul>
	<p><a href="http://python.org" title="Powered by Python"><img src="{{ media_href }}img/python.png" alt="Python Powered" /></a></p>
  {{ debug }}
{% endblock %}

