{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block h1 %}Administration{% endblock %}

{% block htmlhead %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ media_href }}css/admin.css" />
{% endblock %}

{% block content %}
	<ul id="main_menu">
		<li><a href="admin/projects/">Projets</a></li>
		<li><a href="admin/users/">Utilisateurs</a></li>
	</ul>
	<div id="content">
		<form method="post" action="">
			<fieldset>
				<legend>Ajouter un utilisateur</legend>
				<label>Identifiant:</label> <input type="text" name="" id="" />
				<br />
				<label>Mot de passe:</label> <input type="password" name="" id="" />
				<br />
				<input type="submit" value="Ajouter" />
			</fieldset>
		</form>
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th colspan="2">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<td>{{ user.name }}</td>
					<td></td>
					<td></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h2>Projets</h2>
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
{% endblock %}
