<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
 <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="image/png" href="{{ forge_href }}media/img/favicon.png" rel="icon"/>
	<link rel="stylesheet" type="text/css" media="screen" href="{{ forge_href }}media/css/index.css" />
	{% marker "htmlhead" %}
	<title>{% marker "title" %}</title>
</head>
<body>
	<h1>{% marker "h1" %}</h1>
	{% marker "content" %}
</body>
</html>

